<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../public/css/style.css">
    <title>New question</title>
</head>
<body  style="background-color: plum;">
    <%- include('header.ejs') %>
    <div >
        <span>></span>
        <a href="/elections" class="text-purple-800 hover:text-purple-600">All Elections</a>
        <span>></span>
        <a href="/elections/<%= id %>/" class="text-purple-800 hover:text-purple-600">Election</a>
        <span>></span>
        <a href="/elections/<%= id %>/questions" class="text-purple-800 hover:text-purple-600">Questions</a>
    </div>
            <div>
                <% if (messages && messages.error && messages.error.length > 0) { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                        <p class="bg-purple-100 my-3 list-none rounded-md px-4 py-2"><%= messages.error[i] %></p>
                    <% } %>
                <% } %>
            </div>
            <div class="flex justify-center">
                <table>
                    <tr><td>
                <span class="text-2xl font-semibold flex justify-center ">Add a new Question</span>
            </td></tr>
            <form action="/elections/<%= id %>/questions/create" method="post" class="px-8 py-6">
                <tr><td><input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <label for="question" class="block mt-3 font-semibold">What is the question?</label>
                    <input id="question" name="question" type="text" placeholder="Question" class="border w-fit h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md" required>
                </td></tr>
                <tr><td>
                <label for="description" class="block mt-3 font-semibold">Description</label>
                    <textarea id="description" name="description" class="border w-fit px-2 py-1 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md" placeholder="Description" rows="4" cols="20"></textarea>
                </td></tr>
                <tr><td>
                <br><button type="submit" class="mt-6 w-fit bg-blue-500 text-white py-2 px-6 rounded-md hover:bg-purple-600 ">Add question</button>
            </td></tr>
        </form>
            </table>
            </div>
        </div>
    </div>
</body>
</html>